.cubo{
    background-color:lightpink;
    color:indigo
}
.pan{
    background-color:lavenderblush;
    color:indigo
}
.batido{
    background-color:lightskyblue;
    color:indigo
}
.cupcake{
    background-color:lightcyan;
    color:indigo
}
.demas{
    background-color:lightsteelblue;
    color:indigo
}