header
{
    background-color:azure;
    width: 10vw;
    height: 12vh;
    display:flexbox;
    justify-content:flex-start;
    align-items:center;
    box-shadow: 0 0 .6vh black;
    border-radius: 50px;
    border: 1px solid black;
    color:black;
}

h3{
    background-color: cornflowerblue;
    color:darkblue;

}
p{
    color: black;
    border: 1px solid lightblue;
}